{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="round-details-container min-h-screen px-6">

        <div class="text-xl text-center font-bold text-gray-900 my-8">
            <h1>Guides</h1>
        </div>
        
        <div class="px-6 space-y-8">

            <div class="space-y-4">
                <h2 class="text-lg font-medium">
                    Accounts & Privacy:
                </h2>
                <p>
                    1. Employee accounts can be registered using a username only. Email is not an option - this helps to ensure your anonymity.
                </p>
                <p>
                    2. Additionally, your account information is neither shown nor attached to the feedback you send. However, you are free to open a new account for any future feedback rounds if desired.
                </p>
                <p>
                    3. Sent feedback is encrypted and then decrypted only for the employer (most likely HR) and the oversight account set up by the employer (most likely management).
                </p>
                <p>
                    4. If you use a company device to send feedback, we cannot guarantee your anonymity due to potential device session playback and other tracking methods.
                </p>
                
            </div>

            <div class="space-y-4">
                <h2 class="text-lg font-medium">
                    Sending Feedback:
                </h2>
                <p>
                    1. Utilize the code checker to confirm the time you have to send your feedback. The current default send window is 7 days from the feedback round's initiation, allowing ample time to use your own device for enhanced anonymity.
                </p>
                <p>
                    2. Employers can only have one active feedback round accepting feedback at any given time. This prevents the possibility of targeted code distribution.
                </p>
                <p>
                    3. You can save a draft of your feedback, but only one draft is allowed per account.
                </p>
                <p>
                    4. Once you send feedback, any existing draft will be removed from your account.
                </p>
                <p>
                    5. If you have a saved draft and the send window for the round closes, the draft will be automatically deleted.
                </p>
                <p>
                    6. When you send feedback to the employer, it is also sent to the oversight account. This account is required to be linked by the employer, ensuring that your unfiltered ideas can be readby stakeholders, as feedback data is usually analyzed and aggregated for review.
                </p>

            </div>

        </div>
    
    </div>

    

    


{% endblock %}

{% block scripts %}
{% endblock scripts %}