{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="write-container min-h-screen">

        <div class="text-xl text-center font-bold text-gray-900 my-8">
            <h1>Write Feedback</h1>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="px-6 space-y-10">

            <form method="post" action="{% url 'feedback:worker_write_feedback' round_code=round_code %}">
                {% csrf_token %}

                <div class="flex flex-col">
                    <div class="form-group mb-4">
                        <label for="id_title" class="sr-only">Title</label>
                        <input class="w-full border border-gray-900 rounded text-lg py-3 pl-2" type="text" name="title" id="id_title" placeholder="Title" value="{{ form.title.value|default_if_none:'' }}">
                        {% for error in form.title.errors %}
                            <p class="">{{ error }}</p>
                        {% endfor %}
                    </div>
        
                    <div class="form-group mb-2">
                        <label for="id_content" class="sr-only">Text</label>
                        <textarea class="w-full border border-gray-900 rounded text-lg py-3 pl-2" name="content" id="id_content" placeholder="Text" rows="9">{{ form.content.value|default_if_none:'' }}</textarea>
                        {% for error in form.content.errors %}
                            <p class="tailwind-class-for-error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    
                    <div class="form-group grid grid-cols-2 gap-4">
                        <button class="w-full border border-gray-900 rounded text-lg py-3 pl-2" type="submit" name="save-button" value="save">Save</button>
                        <button class="w-full border border-gray-900 rounded text-lg py-3 pl-2" type="submit" name="send-button" value="send">Send</button>
                    </div>
                </div>
    
            </form>
    
            <div class="font-mono text-sm space-y-4">
                <p>
                    Please note that when you send feedback or once the send window is over for the feedback round, your draft will be deleted.
                </p>
                <p>
                    You can only send feedback once with one feedback round code.
                </p>
            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/feedback.js' %}"></script>
{% endblock scripts %}
