{% extends "base.html" %}
{% load static custom_filters %}

{% block content %}

<h1>Employer dashboard</h1>

<div class="tool-selection">
        
    <div class="landing-link-group">

        <div>
            <a href="{% url 'feedback:new_feedback_round' %}" class="button">New Feedback Round</a>
        </div>
            
        <div>
            {% if has_active_rounds %}
                <a href="{% url 'feedback:all_active_rounds' %}" class="button">All Active Feedback Rounds</a>
            {% else %}
                <p>No active feedback rounds.</p>
            {% endif %}
        </div>

        <div>
            <a href="{% url 'feedback:employer_guides' %}" class="button">Guides & FAQ</a>
        </div>

    </div>
    
</div>

{% endblock %}