{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="dahboard-container min-h-screen">

        <div class="text-xl text-center font-bold text-gray-900 my-16">
            <h1>Dashboard</h1>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="tool-selection grid grid-cols-2 gap-4">
            
            <div class="text-center p-3">
                <div>
                    <a href="{% url 'feedback:worker_code_checker' %}" class="button">
                        <img class="mx-auto mb-2 h-8 w-auto" src="{% static '/img/codecheckerb.svg' %}" alt="Code Checker">
                        <p class="text-base font-medium">Code Checker</p>
                    </a>
                </div>
            </div>
            <div class="text-center p-3">
                <div>
                    {% if has_draft %}
                        <a href="{% url 'feedback:worker_edit_feedback' draft_feedback.round.feedback_round_code %}" class="button">
                            <img class="mx-auto mb-2 h-8 w-auto" src="{% static '/img/feedbackweb.svg' %}" alt="Edit Feedback">
                            <p class="text-base font-medium">Edit Feedback</p>
                        </a>
                    {% else %}
                        <a href="{% url 'feedback:worker_input_code' %}" class="button">
                            <img class="mx-auto mb-2 h-8 w-auto" src="{% static '/img/feedbackweb.svg' %}" alt="Write Feedback">
                            <p class="text-base font-medium">Write Feedback</p>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="text-center p-3">
                <div>
                    <a href="{% url 'feedback:worker_guides' %}" class="button">
                        <img class="mx-auto mb-2 h-8 w-auto" src="{% static '/img/guidesb.svg' %}" alt="Guides">
                        <p class="text-base font-medium">Guides</p>
                    </a>
                </div>
            </div>
            <div class="text-center p-3">
                <!-- Grid item 4 -->
            </div>
            
        </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock scripts %}