{% extends "base.html" %}
{% load static %}

{% block content %}

<h1> Worker db</h1>

<div class="tool-selection">
        
    <div class="landing-link-group">

        <div>
            <a href="{% url 'feedback:worker_code_checker' %}" class="button">Code Checker</a>
        </div>
            
        <div>
            {% if has_draft %}
                <a href="{% url 'feedback:worker_write_feedback_with_code' draft_round_code %}" class="button">Write or Edit Feedback</a>
            {% else %}
                <a href="{% url 'feedback:worker_write_feedback' %}" class="button">Write or Edit Feedback</a>
            {% endif %}
        </div>

        <div>
            <a href="{% url 'feedback:worker_guides' %}" class="button">Guides & FAQ</a>
        </div>

    </div>
    
</div>

{% endblock %}

{% block scripts %}
{% endblock scripts %}