<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honest, unfiltered, constructive, key feedback repository</title>

    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">

    <style>
        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
    }
    </style>

</head>
<body>

    <div class="min-h-screen bg-white p-6 font-sans text-base font-normal text-gray-900">

        <header class="flex justify-between items-center">
            <div class="text-xl font-bold text-gray-900">
                <a href="{% url 'entry:home' %}">huckfr</a>
            </div>
        
            {% if request.user.is_authenticated %}
                <div>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </div>
            {% endif %}
        </header>
        
        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock scripts %}
        
        <footer>
            <!-- Common footer -->
        </footer>

    </div>

</body>
</html>