{% extends "base.html" %}
{% load static custom_filters %}

{% block content %}

<h1>All active feedback rounds</h1>

    {% for round in active_rounds %}
        <div>
            <h3>{{ round.name }}</h3>
            <p>Number of feedback submissions: {{ rounds_feedback_count|get_item:round.id|default:"0" }}</p>

            {% if round.feedback_send_window_end < current_time %}
                <p>Accepted feedback until: {{ round.feedback_send_window_end|date:"F d, Y, P"|default:"-" }} UTC (Time over)</p>
            {% else %}
                <p>Accepts feedback until: {{ round.feedback_send_window_end|date:"F d, Y, P"|default:"-" }} UTC</p>
            {% endif %}
            
            <p>Feedback retained until: {{ round.data_retention_end_time|date:"F d, Y, P"|default:"-" }} UTC</p>
            <p id="code-{{ forloop.counter }}">Code: {{ round.feedback_round_code }}</p>
            <button onclick="copyToClipboard('code-{{ forloop.counter }}')">Copy</button>
            <div>
                {% if rounds_with_feedback|get_item:round.id %}
                    <a href="{% url 'feedback:round_details' round.feedback_round_code %}">View received feedback</a>
                {% else %}
                    <p>No feedback available for this round.</p>
                {% endif %}
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/feedback.js' %}"></script>
{% endblock scripts %}