{% extends "base.html" %}
{% load static custom_filters %}

{% block content %}

<h1>All active feedback rounds</h1>

{% for round in active_rounds %}
    <div>
        <h3>{{ round.name }}</h3>
        <p>Number of feedback submissions: *Placeholder</p>
        <p>Accepts feedback until: {{ round.feedback_send_window_end|date:"F d, Y, P" }} UTC</p>
        <p>Feedback retained until: {{ round.data_retention_end_time|date:"F d, Y, P" }} UTC</p>
        <p>Code: {{ round.feedback_round_code }}</p>
        {% if rounds_with_feedback|get_item:round.id %}
            <a href="{% url 'feedback:round_details' round.feedback_round_code %}">View received feedback</a>
        {% else %}
            <p>No feedback available for this round.</p>
        {% endif %}
    </div>
    <br>
{% endfor %}

{% endblock %}