{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Feedback for Round: {{ feedback_round.name }}</h1>

    {% if feedbacks %}
        {% for feedback in feedbacks %}
            <div>
                <h4>Feedback Title: {{ feedback.title }}</h4>
                <p>Feedback Content: {{ feedback.content|linebreaks }}</p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No feedback available for this round.</p>
    {% endif %}

{% endblock %}