{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="round-details-container min-h-screen px-6">

        <div class="flex flex-col items-center my-8">
            <button class=" border border-gray-900 text-gray-900 px-3 py-1 rounded text-base font-medium text-center" onclick="copyAllFeedbackToClipboard()">Copy All to Clipboard</button>
        </div>
           
        <div id="feedback-content">

            <div class="flex flex-col w-full text-base text-center font-bold text-gray-900 my-8">
                <h1 class="text-xl">Feedback for Round: {{ feedback_round.name }}</h1>
                <h2>Code: {{ feedback_round.feedback_round_code }}</h2>
            </div>
            
            <div class="space-y-5">
                {% if feedbacks %}
                    {% for feedback in feedbacks %}
                        <div>
                            <h4 class="font-medium">Feedback Title: {{ feedback.title }}</h4>
                            <br>
                            <p>{{ feedback.content|linebreaks }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p>No feedback available for this round.</p>
                {% endif %}
            </div>
            
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/feedback.js' %}"></script>
{% endblock scripts %}