{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Code checker</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'feedback:worker_code_checker' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_code" class="sr-only">Copy code here</label>
            <input type="text" name="code" placeholder="Copy code here" id="id_code">
            {% for error in form.code.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group">
            <input type="submit" value="Check">
        </div>
    </form>

    {{ round }}
    <!-- Remove this above later -->
    {% if round %}
        <div>
            <h4>Round name: {{ round.name }}</h4>
            <p>Accepts feedback until: {{ round.feedback_send_window_end|date:"F d, Y" }}</p>
            <p>Feedback retained until: {{ round.data_retention_end_time|date:"F d, Y" }} </p>
            <p>Code match: {{ round.feedback_round_code }}</p>
        </div>
    {% else %}
        <h2>***TEST IF/ELSE No active feedback round found for the provided code.</h2>
    {% endif %}


{% endblock %}

{% block scripts %}
{% endblock scripts %}