{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="check-container min-h-screen">

        <div class="text-xl text-center font-bold text-gray-900 my-16">
            <h1>Code checker</h1>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="px-6 space-y-12">

            <form method="post" action="{% url 'feedback:worker_code_checker' %}">
                {% csrf_token %}
                <div class="flex flex-col space-y-4">
                    <div class="form-group">
                        <label for="id_code" class="sr-only">Copy code here</label>
                        <input class="w-full border border-gray-900 rounded text-lg py-3 pl-2" type="text" name="code" placeholder="Copy code here" id="id_code">
                        {% for error in form.code.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="w-full border border-gray-900 text-gray-900 py-3 rounded text-lg font-medium text-center" type="submit" value="Check">
                    </div>
                </div>
            </form>
    
            <div class="code-check space-y-4">
                <p><span class="font-medium">Round name: {{ feedback_round.name|default:"-" }}</span></p>
                <p>Accepts feedback until: {{ feedback_round.feedback_send_window_end|date:"F d, Y, P"|default:"-" }} UTC</p>
                <p>Code match: {{ feedback_round.feedback_round_code|default:"-" }}</p>
            </div>

            <div class="additional-links flex flex-col space-y-6">

                <div>
                    {% if has_draft %}
                        <a href="{% url 'feedback:worker_edit_feedback' draft_feedback.round.feedback_round_code %}" class="button">
                            Edit Feedback
                        </a>
                    {% else %}
                        <a href="{% url 'feedback:worker_input_code' %}" class="button">
                            <span class="underline">Write Feedback</span>
                        </a>
                    {% endif %}
                </div>
                
                <div>
                    <a href="{% url 'feedback:worker_dashboard' %}" class="button">
                        <span class="underline">Back to Dashboard</span>
                    </a>
                </div>

            </div>
    
            

        </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock scripts %}