{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Code checker</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'feedback:worker_code_checker' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_code" class="sr-only">Copy code here</label>
            <input type="text" name="code" placeholder="Copy code here" id="id_code">
            {% for error in form.code.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group">
            <input type="submit" value="Check">
        </div>
    </form>

    <div class="code-check">
        <p>Round name: {{ feedback_round.name|default:"-" }}</p>
        <p>Accepts feedback until: {{ feedback_round.feedback_send_window_end|date:"F d, Y, P"|default:"-" }} UTC</p>
        <p>Code match: {{ feedback_round.feedback_round_code|default:"-" }}</p>
    </div>

{% endblock %}

{% block scripts %}
{% endblock scripts %}