{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="register-container min-h-screen flex flex-col items-center">

        <div class="text-xl text-center font-bold text-gray-900 my-16">
            <h1>Register an oversight account to monitor/analyze raw feedback</h1>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="w-full flex flex-col space-y-16 px-6">

            <div class="login-form">
                <form method="post" action="{% url 'entry:oversight_register' %}">
                    {% csrf_token %}
                    <div class="flex flex-col space-y-8">
                        <div class="form-group">
                            <label for="id_email" class="sr-only">Email</label>
                            <input class="w-full border border-gray-900 rounded text-lg py-3 pl-2" type="email" name="{{ form.email.name }}" placeholder="Email" id="id_{{ form.email.id_for_label }}" class="">
                            {% for error in form.email.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="sr-only">Password</label>
                            <input class="w-full border border-gray-900 rounded text-lg py-3 pl-2" type="password" name="{{ form.password.name }}" placeholder="Password" id="id_{{ form.password.id_for_label }}" class="">
                            {% for error in form.password.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group w-full border border-gray-900 text-gray-900 py-3 rounded text-lg font-medium text-center">
                            <label for="id_submit" class="sr-only">Sign up</label>
                            <button type="submit">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
    
            <div class="additional-links flex flex-col space-y-6">
    
                <div>
                    <a href="{% url 'entry:oversight_login' %}">Already have an account: <span class="underline">Sign in</span></a>
                </div>
    
                <div>
                    <a href="{% url 'entry:home' %}">Wrong user role: <span class="underline">Change</span></a>
                </div>
                
            </div>

        </div>

    </div>

{% endblock %}