{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="role-selection">
        
        <!-- Default to login. NB worker as well -->
        
        <div class="landing-link-group">

            <div>
                <a href="{% url 'entry:worker_login' %}" class="button">Send Feedback (Employee)</a>
            </div>
                
            <div>
                <a href="{% url 'entry:employer_login' %}" class="button">Get Feedback (Employer)</a>
            </div>

            <div>
                <a href="{% url 'entry:oversight_login' %}" class="button">Oversight (Management)</a>
            </div>

        </div>
        
        
        
    </div>

    <h2>100% anonymous feedback guaranteed</h2>
    <h2>Built in raw feedback oversight for management</h2>
    <h1>Unfiltered Insights from Those Who Know Your Business Best</h1>

{% endblock %}
