{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="min-h-screen flex flex-col justify-center space-y-20 px-6">

        <div class="flex flex-col w-full items-center space-y-8">

            <a href="{% url 'entry:worker_login' %}" class="w-full border border-gray-900 text-gray-900 px-8 py-3 rounded text-lg font-medium text-center">Send Feedback (Employee)</a>
            <a href="{% url 'entry:employer_login' %}" class="w-full border border-gray-900 text-gray-900 px-8 py-3 rounded text-lg font-medium text-center">Get Feedback (Employer)</a>
            <a href="{% url 'entry:oversight_login' %}" class="w-full border border-gray-900 text-gray-900 px-8 py-3 rounded text-lg font-medium text-center">Oversight (Management)</a>

        </div>

        <div class="text-xl font-bold text-gray-900 space-y-8">
            <h1>Unfiltered Insights from Those Who Know Your Business Best</h1>
            <h2 class="text-lg">Built in raw feedback oversight for management</h2>
            <h2 class="text-lg">100% anonymous feedback guaranteed</h2>
        </div>

    </div>

{% endblock %}