{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="login container">

        <h1>Log in to the oversight portal</h1>

        <form method="post" action="{% url 'entry:oversight_login' %}">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" id="id_email">
            <input type="password" name="password" placeholder="Password" id="id_password">
            <input type="submit" value="Sign in">
        </form>

        <div class="additional-links">
            <a href="{% url 'entry:oversight_register' %}">Don't have an account: Sign Up</a>
            <a href="{% url 'entry:home' %}">Wrong user role: Change</a>
        </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock scripts %}