{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="login container">

        <h1>Sign in as an employee</h1>

        <form method="post" action="{% url 'entry:worker_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sign in">
        </form>

        <div class="additional-links">
            <a href="{% url 'entry:worker_register' %}">Don't have an account: Sign Up</a>
            <a href="{% url 'entry:home' %}">Wrong user role: Change</a>
        </div>

    </div>

{% endblock %}