{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="login-container min-h-screen flex flex-col items-center">

        <div class="text-xl text-center font-bold text-gray-900 my-16">
            <h1>Log in to the employee portal</h1>
        </div>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="w-full flex flex-col space-y-16 px-6">

            <div class="login-form">
                <form method="post" action="{% url 'entry:worker_login' %}">
                    {% csrf_token %}
                    <div class="flex flex-col space-y-8">
                        <div class="form-group">
                            <label for="id_username" class="sr-only">Username</label>
                            <input class="w-full border border-gray-900 rounded text-lg py-3 pl-2" type="username" name="username" placeholder="Username" id="id_username" autocomplete="username">
                            {% for error in form.username.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_password" class="sr-only">Password</label>
                            <input class="w-full border border-gray-900 rounded text-lg py-3 pl-2" type="password" name="password" placeholder="Password" id="id_password" autocomplete="current-password">
                            {% for error in form.password.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group w-full border border-gray-900 text-gray-900 py-3 rounded text-lg font-medium text-center">
                            <label for="id_submit" class="sr-only">Sign in</label>
                            <input type="submit" value="Sign in">
                        </div>
                    </div>
                </form>
            </div>

            <div class="additional-links flex flex-col space-y-6">

                <div>
                    <a href="{% url 'entry:worker_register' %}">Don't have an account: <span class="underline">Sign Up</span></a>
                </div>

                <div>
                    <a href="{% url 'entry:home' %}">Wrong user role: <span class="underline">Change</span></a>
                </div>
                
            </div>

            <div class="font-mono text-sm">
                <p>P.S. When sending feedback from a company device, your anonymity cannot be guaranteed.</p>
            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}
{% endblock scripts %}